<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>alexSalisburyDotCom</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Alex, Salisbury, Alex Salisbury">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="/styles.css" charset="utf-8">
    <link rel="stylesheet" href="/home.css" charset="utf-8">
    <meta name="theme-color" content="#1976d2">
  </head>
  <body>
    <div class="vert">
      <div class="auth">
        <a href="#">Not signed in.</a>
      </div>
      <div class="mainbox">
          <div class="social">
              <a href="https://open.spotify.com/user/alexsalisbury"><img src="/Spotify_Icon_RGB_Green.png"></a>
              <a href="https://twitter.com/alexsalisbury"><img src="/Twitter_Social_Icon_Rounded_Square_Color.png"></a>
              <a href="https://instagram.com/alexsalisbury/"><img src="/insta.png"></a>
              <a href="https://github.com/alexsalisbury"><img src="/GitHub-Mark-Light-32px.png"></a>
          </div>
        <div class="content"></div>
      </div> 
      <footer>
        <div class="att">
          <a href="https://www.pexels.com/photo/under-water-photo-735621/">Attribution</a>
        </div>
        <div class="copy">
          Site &copy; 2019-2021
        </div>
      </footer>
    </div>
  </body>
</html>